@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body, input {
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    height: auto;
    width: 100%;
}

h1, h2, h3, .container-cities-and-pic ul, .price, .list-circle, .colored-block {
    text-transform: uppercase;
    font-family: 'Yeseva One', Times, serif;
    font-style: normal;
    font-weight: 400;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    width: 100%;
    background-color: #131313;
    height: 83px;
    color: #E3B873;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
}

.header, .footer {
    max-width: 1263px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.colored-text, .a-1, .lc-1, .wld-l-1 {
    color: #E3B873;
}

nav {
    width: 580px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.call {
    display: flex;
    align-items: center;
}

.call a {
    margin-right: 45px;
}

.colored-button {
    background-color: #E3B873;
    color: #ffffff;
    padding: 13px 33px;
    font-style: italic;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 1px solid #E3B873;
    border-radius: 2px;
}

.colored-button:hover {
    cursor: pointer;
}

main {
    width: 100%;
} 

.container-picBackground {
    background-image: url('../images/image_4.3.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 707px;
}

.shadow-over-picBackground {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.firstContainer-sizing {
    max-width: 1263px;
    height: 100%;
    margin: 0 auto;
}

.container-over-picBackground {
    width: 676px;
    padding-top: 194px;
    padding-bottom: 208px;
}

.container-over-picBackground h1 {
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 19px;
    height: 105px;
}

.container-over-picBackground p {
    font-size: 22px;
    line-height: 36px;
    width: 505px;
    height: 89px;
    margin-bottom: 41px;
}

.naked-btn {
    background: none;
    border-color: #ffffff;
    margin-left: 20px;
    box-shadow: none;
}

.container-completedProjects {
    background-color: #131313;
    width: 100%;
    height: 1074px;
    padding-top: 176px;
}

.insideContainer-completedProjects {
    max-width: 1263px;
    width: 1263px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    margin-bottom: 92px;
    justify-content: space-between;
}

.text-insideCompletedProjects {
    width: 442px;
    height: auto;
}

.text-insideCompletedProjects h2 {
    width: 253px;
    height: 66px;
    margin-bottom: 34px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.text-insideCompletedProjects p {
    margin-bottom: 42px;
    height: 86px;
    font-size: 14px;
    line-height: 27px;
}

.containers-flex {
    display: flex;
    margin-bottom: 34px;
}

.completedProjects-characteristic {
    width: 190px
}

.completedProjects-characteristic h3, .offerList h3 {
    height: 22px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
}

.completedProjects-characteristic span {
    height: 42px;
    width: 161px;
    font-size: 13px;
    line-height: 21px;
}

.switch {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 13px;
    margin-top: 80px;
}

.switch img {
    cursor: pointer;
}

.circles-container {
    display: flex;
    justify-content: space-between;
    width: 64px;
    height: 10px;
}

.circles {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.c-1 {
    border-color: #ffffff;
    background-color: #ffffff;
}

.container-cities-and-pic {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 679px;
    height: 506px;
}

.container-cities-and-pic ul {
    display: flex;
    justify-content: space-between;
    width: 623px;
    height: 24px;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    padding: 0;
    margin-bottom: 45px;
    margin-top: -57px;
}

.container-cities-and-pic li, .wildest-list li, nav li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
}

.lc-1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 194px;
    height: 1px;
    background-color: #E3B873;
}

.img-2, .circleArrows, input[type=checkbox], .slider2-wildestPics, .address-and-contacts .h3-2, .addressMap-image img:nth-child(2) {
    display: none;
}

.section-onlineControl {
    width: 100%;
    margin-top: -415px;
}

.container-onlineControl-sizing {
    max-width: 1263px;
    width: 1263px;
    margin: 0 auto;
}

.container-onlineControl, .container-typesOfRepair {
    width: 196px;
    height: 67px;
    margin: 0 auto;
    margin-bottom: 31px;
}

.container-onlineControl h3, .container-typesOfRepair h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 92px;
}

.camera-icon-container, .tools-icon-container {
    margin: 0 auto;
    width: 114px;
    display: flex;
    justify-content: space-between;
}

.img-installation {
    width: 817px;
    height: 434px;
    background-image: url('../images/image_6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
    margin-bottom: 62.5px;
}

.img-installationShadow {
    background-color: rgb(0, 0, 0, 0.8);
    height: 100%;
}

.big-circle {
    width: 85px;
    height: 85px;
    background-color: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border: 1px solid #E3B873;
    border-radius: 50px;
    
}

.triangle {
    width: 25px;
    height: 28px;
    border-top: 14px solid transparent;
    border-left: 25px solid #ffffff;
    border-bottom: 14px solid transparent;
    margin-left: 5px;
}

.container-onlineControl-sizing .line {
    width: 55px;
    margin: 0 auto;
    margin-bottom: 34.46px;
}

.container-onlineControl-sizing p {
    color: #363636;
    width: 681px;
    height: 130.91px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 91.5px;
}

.container-onlineControl-sizing .form-onlineControl {
    width: 100%;
    height: 102px;
}

.container-onlineControl-sizing .info-input {
    display: grid;
    grid-template-columns: repeat(2, 231px), 200px;
    grid-template-rows: 51px;
    grid-column-gap: 53px;
    grid-row-gap: 37px;
    height: auto;
    width: 769px;
    margin: 0 auto;
}

.i-1, .i-2 {
    align-self: center;
}

.i-4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

label {
    color: rgba(54, 54, 54, 0.5);
    font-size: 13px;
    line-height: 21px;
}

input[type=text] {
    width: 231px;
    font-size: 14px;
    line-height: 23px;
    padding: 0;
    padding-bottom: 6px;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: #363636;
    position: relative;
    top: -2px;
}

input[type=text]::-webkit-input-placeholder {
    color: #363636;
}

input[type=text]::-moz-placeholder {
    color: #363636;
}

input[type=text]:focus {
    outline: 0;
    border-color: #363636;
}

input[type=submit] {
    width: 200px;
    height: 51px;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
}

.container-onlineControl-sizing .checkbox-agreement {
    width: 286px;
    height: 18px;
    margin: 0 auto;
}

input[type=checkbox]+label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

input[type=checkbox]+label::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #E3B873;
    border-radius: 1.5px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    transition: all .2s ease-in-out;
}

input[type=checkbox]:checked+label::before {
    background-color: #E3B873;
    background-image: url('../images/checkbox.svg');
}

.container-onlineControl-sizing .checkbox-agreement label {
    color: #181818;
    font-size: 14px;
    line-height: 163.68%;
}

.section-Repair {
    width: 100%;
}

.container-Repair-sizing {
    max-width: 1263px;
    width: 1263px;
    margin: 0 auto;
}

.container-typesOfRepair {
    margin-top: 148px;
    width: 257px;
}

.container-typesOfRepair h3 {
    color: #181818;
}

.containerOfBlocks-typesOfRepair {
    max-width: 1263px;
    height: 608px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px;
}

.img-blockBackground {
    width: 392px;
    height: 421px;
    background-position: top;
    background-repeat: no-repeat;
}

.block-1 .img-blockBackground {
    background-image: url('../images/image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-2 .img-blockBackground {
    background-image: url('../images/image_2.jpg'); 
}

.block-3 .img-blockBackground {
    background-image: url('../images/image_3.jpg'); 
}

.offerList {
    width: 330px;
    height: 286px;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    margin-top: -128px;
    padding-top: 25px;
    padding-left: 34px;
}

.offerList h3 {
    height: 21px;
    color: #363636;
    margin-bottom: 13px;
    text-transform: none;
}

.offerList ul {
    color: #959595;
    font-size: 13px;
    line-height: 27px;
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.price {
    width: 228px;
    height: 54px;
    background-color: #E3B873;
    color: #ffffff;
    text-align: center;
    padding: 17px 0;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    margin-top: -28px;
    margin-left: 31px;
}

.container-request {
    width: 100%;
    height: auto;
    background-image: url('../images/image_6.1.png');
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 130px;
}

.container-request-sizing {
    max-width: 1263px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.list-request {
    width: 382px;
    height: 474px;
    margin-top: 73px;
    margin-right: 206px;
}

.block-circle-and-text {
    display: flex;
    align-items: center;
}

.block-circle-and-text span {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-left: 4px;
}

.list-circle {
    box-sizing: content-box;
    background-color: #E3B873;
    width: 42px;
    height: 42px;
    border: 8px solid #ffffff;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.list-circle span {
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    margin-left: 0;
}

.form-Request {
    width: 506px;
    height: auto;
    margin-top: 62px;
}

.background-form {
    width: 100%;
    height: 509px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    padding: 28px 49px 27px 49px;
}

.background-form p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 297px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.form-Request .info-input {
    width: 408px;
    height: auto;
}

.client-info {
    width: 100%;
    height: 244px;
    margin-bottom: 16px;
}

.form-Request .info-input input[type="text"], .question-form input[type="text"] {
    width: 408px;
    padding-top: 6px;
    background-color: #131313;
    border-color: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
}

.form-Request .info-input label, .question-form label {
    color: rgba(255, 255, 255, 0.5);
}

.form-Request .info-input input[type="text"]:focus, .question-form input[type="text"]:focus {
    border-color: rgba(255, 255, 255, 0.5);
}

.form-Request .info-input input[type=text]::-webkit-input-placeholder, .question-form input[type=text]::-webkit-input-placeholder {
    color: #ffffff;
}

.form-Request .info-input input[type=text]::-moz-placeholder, .question-form input[type=text]::-moz-placeholder {
    color: #ffffff;
}

.agreement-and-submit-block {
    width: 100%;
    height: 108px;
}

.b-4 {
    width: 259px;
}

.b-5 {
    width: 100%;
    text-align: right;
}

.form-Request .info-input .b-4 label, .question-form .agreement3 label {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.form-Request .info-input input[type=checkbox]+label, .question-form .info-input input[type=checkbox]+label {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-Request .info-input input[type=checkbox]+label::before, .question-form input[type=checkbox]+label::before {
    background-color: #363636;
}

.form-Request .info-input input[type=checkbox]:checked+label::before, .question-form input[type=checkbox]:checked+label::before {
    background-color: #E3B873;
    background-image: url('../images/checkbox.svg');
}

.form-Request .info-input input[type="submit"] {
    width: 213px;
    line-height: 21px;
}

.moneybox {
    width: 441px;
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 38px;
    margin-left: 31px;
}

.moneybox-icon {
    width: 72px;
    height: 72px;
    background-color: #E3B873;
    border: 1px solid #E3B873;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    margin-right: 25px;
}

.moneybox span {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.section-WildestFantasies {
    width: 100%;
    height: 1018px;
    padding-top: 113px;
    padding-bottom: 41px;
    margin-bottom: 69px;
}

.container-WildestFantasies {
    width: 100%;
    height: auto;
    background-image: url('../images/image_5.1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.WildestFantasies-backgroundShadow {
    width: 100%;
    height: 864px;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.container-WildestFantasies-sizing {
    max-width: 1263px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wildest-list {
    margin-top: 137px;
    margin-bottom: 98px;
    width: 411px;
    height: 629px;
}

.wildest-list h3 {
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
    margin-bottom: 47px;
}

.wildest-list ul {
    width: 299px;
    height: 516px;
    font-size: 20px;
    line-height: 38px;
    padding: 0;
}

.wld-l-1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 146px;
    height: 1px;
    background-color: #E3B873;
}

.container-wildestPics {
    width: 751px;
    height: auto;
    display: flex;
}

.first-container-withPics {
    width: 354px;
    height: 946px;
    margin-right: 43px;
    margin-top: -41px
}

.second-container-withPics {
    width: 354px;
    height: 937px;
    margin-top: -113px;
}

.pic-1 {
    width: 354px;
    height: 558px;
    margin-bottom: 39px;
}

.pic-2 {
    width: 354px;
    height: 349px;
}

.pic-3 {
    width: 354px;
    height: 275px;
    margin-bottom: 37px;
}

.pic-4 {
    width: 354px;
    height: 625px;
}

.section-ourClients {
    width: 100%;
    height: 997px;
    background-image: url('../images/ourClients-background.png'), url('../images/ourClients-background2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 50%;
}

.container-ourClients {
    max-width: 1263px;
    width: 1263px;
    height: 642px;
    margin: 0 auto;
}

.container-ourClients h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #181818;
    margin-bottom: 13px;
}

.container-handshake {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.container-ourClients p {
    width: 476px;
    height: 57px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin: 0 auto;
    margin-bottom: 39px;
}

.container-ourClients-reviews {
    width: 100%;
    height: 455px;
    display: flex;
    justify-content: space-between;
}

.clients {
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients h3 {
    font-size: 18px;
    line-height: 23px;
    text-transform: none;
    text-align: left;
}

.client-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 277px;
    height: 76px;
    margin-left: 20px;
    margin-top: 24px;
    margin-bottom: 22px;
}

.client-name img {
    border: 1px solid transparent;
    border-radius: 50px;
    margin-right: 23px;
}

.clients p {
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    text-align: left;
    height: 239px;
    width: 324px;
    margin: 0;
    margin-left: 20px
}

.colored-block {
    background-color: #E3B873;
    width: 294px;
    height: 54px;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding-left: 17px;
    /*padding-right: 25px;*/
    font-size: 17px;
    line-height: 24px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    margin-top: 40px;
}

.colored-block span {
    margin-left: 15px;
}

.vertical-line {
    margin-left: 14px;
    margin-right: 17px;
}

.section-Contacts {
    width: 100%;
    height: 974px;
    background-image: url('../images/image_7.2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.contacts-backgroundGradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 3.47%, rgba(0, 0, 0, 0.72) 100%);
}

.container-Contacts {
    position: absolute;
    top: -223px;
    width: 100%;
}

.container-Contacts-sizing {
    max-width: 1263px;
    width: 1263px;
    height: auto;
    margin: 0 auto;
}

.question-form {
    width: 883px;
    height: auto;
    background-color: #131313;
    margin: 0 auto;
    padding: 34px 182px;
    margin-bottom: 52px;
}

.question-form h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 46px;
}

.question-form form {
    width: 520px;
    height: auto;
}

.question-form .info-input {
    display: grid;
    grid-template-columns: repeat(2, 231px);
    grid-template-rows: auto;
    grid-column-gap: 58px;
    height: auto;
    width: 100%;
}

.grid-item-3, .grid-item-4, .grid-item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item-3 {
    margin-top: 49px;
    margin-bottom: 46px;
}

.grid-item-4 {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 286px;
}

.grid-item-4 label {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.grid-item-5 {
    justify-self: center;
}

.question-form input[type="text"] {
    width: 231px;
    padding-top: 0;
}

.grid-item-3 input[type="text"] {
    width: 520px;
}

.address-and-contacts {
    width: 925px;
    height: 613px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 66px;
}

.address-and-contacts h3 {
    font-size: 20px;
    line-height: 28px;
    color: #E3B873;
    margin: 0 auto;
    margin-bottom: 26px;
    width: 589px;
}

.contacts-icons {
    width: 71px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 43px;
}

@media screen and (max-width: 1300px) {    
    .header, button, .container-cities-and-pic .img-slider-completedProjects, .form-onlineControl {
        width: 340px;
    }
    
    header nav, header button, .switch, .container-cities-and-pic ul, .img-1, .container-request, .wildest-list ul, .container-wildestPics, .section-ourClients, .address-and-contacts .h3-1, .addressMap-image img:nth-child(1), footer {
        display: none;
    }

    .colored-button, .naked-btn {
        border-radius: 0;
    }

    .call a {
        margin-right: 0;
    }

    .container-over-picBackground {
        width: 340px;
        padding-top: 85px;
        padding-bottom: 61px;
        margin: 0 auto;
    }

    .container-over-picBackground h1 {
        font-size: 23px;
        line-height: 31px;
        margin-bottom: 16px;
        height: 60px;
        width: auto;
    }

    .container-over-picBackground p {
        font-size: 14px;
        line-height: 19px;
        width: auto;
        height: 94px;
        margin-bottom: 32px;
    }

    .container-picBackground {
        width: 100%;
        height: 476px;
    }

    .container-over-picBackground button {
        margin: 0;
    }

    .container-over-picBackground .colored-button {
        margin-bottom: 26px;
    }
    
    .container-completedProjects {
        height: auto;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 919px;
    }
    
    .insideContainer-completedProjects {
        width: 340px;
        height: auto;
        display: grid;
        grid-template-columns: 340px;
        grid-template-rows: auto;
        margin-bottom: 0;
        justify-content: space-between;
    }
    
    
    .text-insideCompletedProjects {
        width: 100%;
        height: auto;
    }
    
    .text-insideCompletedProjects h2 {
        width: 225px;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        margin-top: 36px;
        margin-bottom: 22px;
    }
    
    .text-insideCompletedProjects p {
        width: 311px;
        font-size: 11px;
        line-height: 17px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 36px;
    }
    
    .two-containers-block {
        height: auto;
    }

    .containers-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;
        width: 100%;
    }

    .containers-flex:nth-child(2) {
        margin-bottom: 0;
    }
    
    .completedProjects-characteristic {
        width: 181px;
    }
    
    .completedProjects-characteristic h3 {
        height: 20px;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 11px;
    }
    
    .completedProjects-characteristic span {
        height: 37px;
        width: 99px;
        font-size: 11px;
        line-height: 15px;
    }
    
    .container-cities-and-pic {
        width: 340px;
        height: 241px;
        margin: 0 auto;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 37px;
    }

    .circleArrows {
        width: 313px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: -139px;
    }

    .img-2, .slider2-wildestPics, .address-and-contacts .h3-2, .addressMap-image img:nth-child(2) {
        display: block;
    }

    .section-onlineControl {
        margin-top: 58px;
        height: 885px;
    }

    .container-onlineControl-sizing {
        width: 340px;
        height: 100%;
        margin-top: -919px;
    }
    
    .container-onlineControl {
        width: 224px;
        height: 74px;
        margin-bottom: 40px;
    }
    
    .container-onlineControl h3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    
    .img-installation {
        width: 340px;
        height: 207px;
        margin-bottom: 28px;
    }
    
    .big-circle {
        width: 37px;
        height: 37px;       
    }
    
    .triangle {
        width: 12px;
        height: 12px;
        border-top: 8px solid transparent;
        border-left: 12px solid #ffffff;
        border-bottom: 8px solid transparent;
        margin-left: 3px;
    }
    
    .container-onlineControl-sizing .line {
        margin-bottom: 21px;
    }
    
    .container-onlineControl-sizing p {
        color: #ffffff;
        width: 100%;
        height: 107px;
        font-size: 11px;
        line-height: 19px;
        margin-bottom: 61px;
    }
    
    .container-onlineControl-sizing .info-input {
        grid-template-columns: 340px;
        grid-column-gap: 0;
        grid-row-gap: 0;
        width: 340px;
    }

    .i-1 {
        height: 51px;
        margin-bottom: 63px;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .i-2 {
        margin-bottom: 27px;
    }

    .i-3 {
        order: 4;
    }
    
    .i-4 {
        grid-column-start: 1;
        grid-column-end: 2;
        order: 3;
    }
    
    label {
        color: rgba(255, 255, 255, 0.5);
    }

    input[type=text] {
        width: 340px;
        line-height: 19px;
        border-color: rgb(255, 255, 255);
        color: #ffffff;
        background-color: #131313;
        border-radius: 0;
    }
    
    input[type=text]::-webkit-input-placeholder {
        color: #ffffff;
    }
    
    input[type=text]::-moz-placeholder {
        color: #ffffff;
    }
    
    input[type=text]:focus {
        border-color: #ffffff;
    }
    
    input[type=submit] {
        width: 340px;
        border-radius: 0;
        -webkit-appearance: none;
    }

    .container-onlineControl-sizing .checkbox-agreement {
        margin: 0;
        height: 20px;
        margin-bottom: 62px;
    }
    
    input[type=checkbox]+label {
        align-items: flex-start;
    }
    
    input[type=checkbox]+label::before {
        background-color: #363636;
    }
    
    input[type=checkbox]:checked+label::before {
        background-color: #E3B873;
        background-image: url('../images/checkbox.svg');
    }

    .container-onlineControl-sizing .checkbox-agreement label {
        color: #FFFFFF;
    }

    .section-Repair {
        margin-top: 58px;
        height: 1680px; 
    }    
    
    .container-Repair-sizing {
        width: 340px;
        height: 100%;
    }
    
    .container-typesOfRepair {
        margin-top: 0;
        height: 71px;
        margin-bottom: 40px;
    }
    
    .container-typesOfRepair h3 {
        margin-top: 0;
        font-size: 22px;
        line-height:  30px;
        margin-bottom: 17px;
    }
    
    .containerOfBlocks-typesOfRepair {
        height: auto;
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
    }
    
    .img-blockBackground {
        width: 340px;
        height: 365px;
    }

    .offerList {
        width: 270px;
        height: 241px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
        margin: 0;
        margin-top: -142px;
        padding-top: 21px;
        padding-left: 31px;
        margin-left: -1px;
    }
    
    .offerList h3 {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 21px;
    }
    
    .offerList ul {
        line-height: 22px;
    }
    
    .price {
        width: 190px;
        height: 40px;
        text-align: center;
        padding: 11px 0;
        margin-top: -20px;
        margin-bottom: 59px;
        font-size: 15px;
        line-height: 21px;
        margin-left: 0;
    }
    
    .section-WildestFantasies {
        width: 100%;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .container-WildestFantasies {
        width: 100%;
        height: auto;
        background: none;
    }
    
    .WildestFantasies-backgroundShadow {
        width: 100%;
        height: 100%;
        background: 0;
    }
    
    .container-WildestFantasies-sizing {
        width: 340px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .wildest-list {
        margin-top: 55px;
        margin-bottom: 24px;
        width: 340px;
        height: auto;
    }
    
    .wildest-list h3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0;
        text-align: center;
    }

    .slider2-wildestPics {
        width: 340px;
        height: 242px;
    }

    .slider2-wildestPics .circleArrows {
        margin-top: -145px;
    }
    
    .section-Contacts {
        width: 100%;
        height: auto;
        background: none;
        position: static;
        background-color: #131313;
        margin-top: -121px;
    }
    
    .contacts-backgroundGradient {
        width: 100%;
        height: 100%;
        background: none;
    }
    
    .container-Contacts {
        position: static;
        top: 0;
        width: 100%;
    }
    
    .container-Contacts-sizing {
        width: 340px;
        height: auto;
        margin: 0 auto;
    }
    
    .question-form {
        width: 340px;
        height: auto;
        padding: 0;
        padding-top: 173px;
        margin-bottom: 46px;
    }
    
    .question-form h3 {
        margin-bottom: 52px;
    }
    
    .question-form form {
        width: 340px;
        height: auto;
    }
    
    .question-form .info-input {
        grid-template-columns: 340px;
        grid-column-gap: 0;
    }
    
    .grid-item-1, .grid-item-2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-item-2 {
        margin-top: 63px;
    }
    
    .grid-item-3 {
        margin-top: 63px;
        margin-bottom: 22px;
    }
    
    .grid-item-4 {
        margin: 0;
        margin-bottom: 67px;
        width: 286px;
    }
    
    .grid-item-4 label {
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
    }
    
    .grid-item-5 {
        justify-self: center;
    }
    
    .question-form input[type="text"] {
        width: 340px;
        padding-top: 0;
        border-color: #ffffff;
    }

    .question-form input[type="text"]:focus {
        border-color: #ffffff;
    }
    
    .address-and-contacts {
        width: 340px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .address {
        order: 2;
    }

    .address-and-contacts h3 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 24px;
        width: 340px;
    }

    .address-and-contacts .h3-2 a {
        text-decoration: none;
    }

    .contacts-icons {
        width: 99px;
        height: 39px;
        margin-bottom: 49px;
    }

    .contacts-icons img {
        width: 39px;
    }

    .addressMap-image {
        order: 1;
        margin-bottom: 42px;
    }
}
